---
http_interactions:
- request:
    method: post
    uri: https://api.clarifai.com/v2/inputs
    body:
      encoding: UTF-8
      string: '{"inputs":[{"data":{"image":{"url":"https://raw.githubusercontent.com/nicholalexander/clarification/master/spec/support/images/faces.jpg"},"concepts":[{"id":"faces","value":true},{"id":"people","value":true}]}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Key f7cc628178994e16b2470ae739ef927a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"code":10000,"description":"Ok"},"inputs":[{"id":"c1d3bb6e20a44319b4708cc1da9db7f4","data":{"image":{"url":"https://raw.githubusercontent.com/nicholalexander/clarification/master/spec/support/images/faces.jpg"},"concepts":[{"id":"faces","name":"faces","value":1,"app_id":"f149bdd9e05c470187920992eb502208"},{"id":"people","name":"people","value":1,"app_id":"f149bdd9e05c470187920992eb502208"}]},"created_at":"2017-10-03T16:23:33.325706013Z","modified_at":"2017-10-03T16:23:33.649290194Z","status":{"code":30000,"description":"Download
        complete"}}]}'
  recorded_at: Tue, 03 Oct 2017 16:23:33 GMT
recorded_with: VCR 3.0.3
