---
http_interactions:
- request:
    method: post
    uri: https://api.clarifai.com/v2/inputs
    body:
      encoding: UTF-8
      string: '{"inputs":[{"data":{"image":{"url":"https://raw.githubusercontent.com/nicholalexander/clarification/master/spec/support/images/kitten.jpg"}}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Key f7cc628178994e16b2470ae739ef927a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"code":10000,"description":"Ok"},"inputs":[{"id":"f0d855eaac024fa6a05ad969c2a64e75","data":{"image":{"url":"https://raw.githubusercontent.com/nicholalexander/clarification/master/spec/support/images/kitten.jpg"}},"created_at":"2017-10-04T17:30:05.862863461Z","modified_at":"2017-10-04T17:30:06.290744271Z","status":{"code":30000,"description":"Download
        complete"}}]}'
  recorded_at: Wed, 04 Oct 2017 17:30:06 GMT
recorded_with: VCR 3.0.3
