---
http_interactions:
- request:
    method: post
    uri: https://api.clarifai.com/v2/models/bd367be194cf45149e75f01d59f77ba7/outputs
    body:
      encoding: UTF-8
      string: '{"inputs":[{"data":{"image":{"url":"https://raw.githubusercontent.com/nicholalexander/clarification/master/spec/support/images/kitten.jpg"}}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Key f7cc628178994e16b2470ae739ef927a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"code":10000,"description":"Ok"},"outputs":[{"id":"e47c0ad4d93741aab5cbb08a0c812871","status":{"code":10000,"description":"Ok"},"created_at":"2017-10-13T13:22:16.252172952Z","model":{"id":"bd367be194cf45149e75f01d59f77ba7","name":"food-items-v1.0","created_at":"2016-09-17T22:18:59.955626Z","app_id":"main","output_info":{"message":"Show
        output_info with: GET /models/{model_id}/output_info","type":"concept","type_ext":"concept"},"model_version":{"id":"dfebc169854e429086aceb8368662641","created_at":"2016-09-17T22:18:59.955626Z","status":{"code":21100,"description":"Model
        trained successfully"}},"display_name":"Food"},"input":{"id":"b1eb8abdb6c54d119af1364740309d1f","data":{"image":{"url":"https://raw.githubusercontent.com/nicholalexander/clarification/master/spec/support/images/kitten.jpg"}}},"data":{"concepts":[{"id":"ai_PGKDcpxM","name":"bird","value":0.9589917,"app_id":"main"},{"id":"ai_jvVxlhLh","name":"chicken","value":0.80907756,"app_id":"main"},{"id":"ai_ZQGfkTBT","name":"duck","value":0.8062068,"app_id":"main"},{"id":"ai_b4b4hLRV","name":"turkey","value":0.7651013,"app_id":"main"},{"id":"ai_KNh2Htg8","name":"grass","value":0.6971165,"app_id":"main"},{"id":"ai_r2Fbdv8L","name":"beer","value":0.67652917,"app_id":"main"},{"id":"ai_C4T94MlV","name":"tongue","value":0.65974045,"app_id":"main"},{"id":"ai_0wh0dJkQ","name":"sweet","value":0.63072395,"app_id":"main"},{"id":"ai_G58V132Z","name":"water","value":0.6153836,"app_id":"main"},{"id":"ai_T851HmVS","name":"orange","value":0.5905632,"app_id":"main"},{"id":"ai_w1Hd3dTg","name":"nibble","value":0.56520176,"app_id":"main"},{"id":"ai_hh0lr5sh","name":"peanut","value":0.5568334,"app_id":"main"},{"id":"ai_zFqwk1nf","name":"date","value":0.48576477,"app_id":"main"},{"id":"ai_PCfz16nb","name":"goose","value":0.4799006,"app_id":"main"},{"id":"ai_BR1Svb7D","name":"coconut","value":0.47260264,"app_id":"main"},{"id":"ai_RvRS2tMq","name":"ginger","value":0.4696625,"app_id":"main"},{"id":"ai_7dcVtHqc","name":"lamb","value":0.46312013,"app_id":"main"},{"id":"ai_SJM12nRS","name":"fowl","value":0.45812044,"app_id":"main"},{"id":"ai_vGpGP5X8","name":"stout","value":0.45313442,"app_id":"main"},{"id":"ai_PPr5HPcC","name":"grub","value":0.43578377,"app_id":"main"}]}}]}'
  recorded_at: Fri, 13 Oct 2017 13:22:16 GMT
[...]
