---
http_interactions:
- request:
    method: post
    uri: https://api.clarifai.com/v2/inputs
    body:
      encoding: UTF-8
      string: '{"inputs":[{"data":{"image":{"url":"https://raw.githubusercontent.com/nicholalexander/clarification/master/spec/support/images/donuts.jpg"}}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Key f7cc628178994e16b2470ae739ef927a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"code":10000,"description":"Ok"},"inputs":[{"id":"e80f98c92a4c4b0199e58e1adc48666f","data":{"image":{"url":"https://raw.githubusercontent.com/nicholalexander/clarification/master/spec/support/images/donuts.jpg"}},"created_at":"2017-10-03T18:03:22.057641248Z","modified_at":"2017-10-03T18:03:22.377908797Z","status":{"code":30000,"description":"Download
        complete"}}]}'
  recorded_at: Tue, 03 Oct 2017 18:03:22 GMT
recorded_with: VCR 3.0.3
