---
http_interactions:
- request:
    method: post
    uri: https://api.clarifai.com/v2/searches
    body:
      encoding: UTF-8
      string: '{"query":{"ands":[{"output":{"data":{"concepts":[{"name":"cat"}]}}}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Key f7cc628178994e16b2470ae739ef927a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"code":10000,"description":"Ok"},"id":"ba6085ca00dd40fa802431f607c5798f","hits":[{"score":0.99710786,"input":{"id":"de6ce0fbc6a848128ee777a429491cae","data":{"image":{"url":"http://bit.ly/2xwDKnY"}},"created_at":"2017-09-25T18:02:54.065485Z","modified_at":"2017-09-25T18:02:54.670607Z","status":{"code":30000,"description":"Download
        complete"}}}]}'
  recorded_at: Wed, 04 Oct 2017 17:13:31 GMT
recorded_with: VCR 3.0.3
