---
http_interactions:
- request:
    method: post
    uri: https://api.clarifai.com/v2/models
    body:
      encoding: UTF-8
      string: '{"model":{"id":"faces","output_info":{"data":{"concepts":[{"id":"faces"},{"id":"people"}]},"output_config":{"concepts_mutually_exclusive":false,"closed_environment":false}}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Key f7cc628178994e16b2470ae739ef927a
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"code":21202,"description":"Invalid model argument","details":"Model
        already exists with ID ''faces''","req_id":"c3d47dc836e94c87a31447351e2832e5"}}'
  recorded_at: Tue, 03 Oct 2017 17:10:21 GMT
recorded_with: VCR 3.0.3
