---
http_interactions:
- request:
    method: post
    uri: https://api.clarifai.com/v2/models/faces/versions
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Key f7cc628178994e16b2470ae739ef927a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"code":10000,"description":"Ok"},"model":{"id":"faces","name":"faces","created_at":"2017-10-03T17:11:47.793438Z","app_id":"f149bdd9e05c470187920992eb502208","output_info":{"output_config":{"concepts_mutually_exclusive":false,"closed_environment":false},"message":"Show
        output_info with: GET /models/{model_id}/output_info","type":"concept","type_ext":"concept"},"model_version":{"id":"c8d1a4bfed6f4e7494339e46d8dab410","created_at":"2017-10-03T17:33:04.488521611Z","status":{"code":21103,"description":"Custom
        model is currently in queue for training, waiting on inputs to process."},"active_concept_count":2}}}'
  recorded_at: Tue, 03 Oct 2017 17:33:04 GMT
recorded_with: VCR 3.0.3
